@font-face {
  font-family: 'Karla';
  src: url(/assets/fonts/Karla-VariableFont_wght.ttf);
}

:root {
  /* COLORS */
  --green-200: #E0F1E8;
  --green-500: #86A2A5;
  --green-600: #0C7D69;
  --green-800: #123F35;
  --green-900: #2A4144;
  --white: #FFFFFF;
  --red-error: #D73C3C;

  /* TYPOGRAPHY */
  --fs-body-s: 1rem; /* 16px */
  --fs-body-m: 1.125rem; /* 18px */
  --fs-heading: 2rem; /* 32px */

  --lh-100: 100%;
  --lh-150: 150%;

  --ls-100: -1px;

  --primary-heading-fs: var(--fs-heading);
  --primary-heading-lh: var(--lh-100);
  --primary-heading-ls: var(--ls-100);

  --body-fs: var(--fs-body-s);
  --body-lh: var(--lh-150);

  /* SPACING */
  --sp-100: 0.5rem; /* 8px */
  --sp-150: 0.75rem; /* 12px */
  --sp-200: 1rem; /* 16px */
  --sp-300: 1.5rem; /* 24px */
  --sp-400: 2rem; /* 32px */
  --sp-500: 2.5rem; /* 40px */
  --sp-1600: 8rem; /* 128px */

  /* BORDER RADIUS */
  --br-form: 1rem;
  --br-success: 0.75rem;
  --br-element: 0.5rem;

  /* TRANSITIONS */
  --tr-default: all 80ms ease-in;
}

/* Use a more-intuitive box-sizing model. */
*, *::before, *::after, input {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  padding: 0;
  margin: 0;
}

/* Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Remove default textarea styles */
textarea {
  display: block;
  resize: none;
  width: 100%;
}

/* Typographic tweaks!
  Improve text rendering */
body {
  -webkit-font-smoothing: antialiased;
}

/* Remove built-in form typography styles */
input, button, textarea {
  font: inherit;
}

/* Make cursor pointer for input and label elements */
label:not(.arrow-pointer), input, textarea, .submit-button {
  cursor: pointer;
}

/* Display block for text and email inputs, and query type label */
input[type="text"], input[type="email"], .query-header-label {
  display: block;
}

/* PAGE STYLING */
body {
  background-color: var(--green-200);
  padding: var(--sp-400) var(--sp-200);
}

form {
  background-color: var(--white);
  padding: var(--sp-300);
  border-radius: var(--br-form);
  max-width: 46rem;
  margin-inline: auto;
}

@media (min-width: 768px) {
  body {
    padding: var(--sp-1600) var(--sp-500);
  }

  form {
    padding: var(--sp-500);
  }
}

@media (min-width: 1440px) {
  body {
    padding: var(--sp-1600);
  }
}

/* MAIN STYLING */
/* TYPOGRAPHY */
body {
  font-family: 'Karla';
  font-size: var(--body-fs);
  line-height: var(--body-lh);
  color: var(--green-900);
}

h1 {
  font-size: var(--primary-heading-fs);
  line-height: var(--primary-heading-lh);
  letter-spacing: var(--primary-heading-ls);
}

.fs-body-m { 
  font-size: var(--fs-body-m); 
}

.fw-bold { 
  font-weight: bold; 
}

/* FORM SPACING */
form input[type="text"],
form input[type="email"] {
  width: 100%;
}

/* GRID LAYOUT */
.grid-container {
  --column-gap: var(--sp-200);
  --row-gap: var(--sp-300);

  display: grid;
  column-gap: var(--column-gap);
  row-gap: var(--row-gap);

  .query-type {
    display: grid;
  }
}

@media (min-width: 30em) {  
  .fname-grid-item { grid-area: fname; }
  .lname-grid-item { grid-area: lname; }
  .email-grid-item { grid-area: email; }
  .query-grid-item { grid-area: query; }
  .message-grid-item { grid-area: message; }
  .consent-grid-item { grid-area: consent; }
  .submit-grid-item { grid-area: submit; }

  .grid-container {
    grid-template-areas: 
    "fname lname"
    "email email"
    "query query"
    "message message"
    "consent consent"
    "submit submit";
  }

  .query-type {
    grid-template-columns: subgrid;
    column-gap: var(--column-gap);

    .query-general {
      grid-column: 1 / 2;
    }

    .query-support {
      grid-column: 2 / 3;
    }
  }
}


/* ERROR STATES */
.error-message {
  color: var(--red-error);
}